:root {
    --primary-color: #00A352;
    --primary-dark-color: #007A2E;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;

    --white: #ffffff;
    --black: #000000;
    --gray : #666;

    --light-color: #f8f9fa;
    --dark-color: #343a40;

    --text: #0F172A;
    --text-green: #16a34a;
    --text-light-color: #64748B;
    --text-color-dark: #0F172A;

    --bg: #F8FAFC;
    --bg-white: #f8fbff;

    --card: #ddd;

    --shadow: 0 12px 35px rgba(15,23,42,0.1);

    --shadow-basic : 0 10px 35px rgba(0,0,0,.06);
    --shadow-hover : 0 20px 45px rgba(0,0,0,.12);
}